!!!
%html
  %head
    %meta{:charset => "utf-8"}
    %meta{:viewport => "width=device-width"}
    %title Octostalker

    %link{ rel: "dns-prefetch", href: "//ajax.googleapis.com"}
    %link{ rel: 'stylesheet', href: stylesheet_path('application.css') }

    %script{src: javascript_path('modernizr.js')}

  %body
    %a{:href => "https://github.com/arthurnn/octostalker", :id => "forkit", target: "_blank"} Fork it!
    %div.msg#msg{style: ('display: block;' if flash[:notice]), class: ("error" if flash[:notice]) }
      %div.inner
        %p= flash[:notice]
    %div.msg.loading
      %div.inner
        %p
          %img{src: "/assets/ajax.gif", alt: "Wait just a sec, we are"} Loading...
    %div#wrapper
      %div#content
        %header#header
          .inner
            .container
              %h1 OctoStalker
              %p
                You can follow everyone that is following you.
                %br You can follow everyone from your organization.
              .profile
                - if current_user
                  %img{src: current_user[:avatar], width: 165, height: 165, alt: current_user[:username]}
                  %a.btn{href: "/logout"} Logout
                - else
                  %a.btn{href: "/auth/github"} Signin with Github
        %section#explain
          .inner
            .pata
            .container
              %h2 Follow back who follows you
              .gitmark-big
              .follow
              .gitmark-big
            .container
              %h2 Follow everyone from your organization
              .gitmark-big
              .follow
              .orgusers
                - 12.times do
                  %span
        - if current_user
          = yield
        .clear
      %footer#footer
        %div.inner
          %p
            %a{href: "https://github.com/arthurnn/octostalker/blob/master/LICENSE", target: "_blank"} MIT Licence @arthurnn
          %p
            follow me
            %a{href:"https://github.com/arthurnn", rel: "me external", target: "_blank"} @arthurnn
    %script{src: javascript_path('plugins.js')}
    %script{src: javascript_path('application.js')}
