!!!
%html
  %head
    %meta{:charset => "utf-8"}
    %title Octostalker
    %link{ rel: 'stylesheet', href: stylesheet_path('application.css') }/

  %body
    %a{:href => "https://github.com/arthurnn/octostalker", :id => "forkit"} Fork it!
    = yield
    %script{src: '//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js'}
    %script{src: javascript_path('application.js')}
