
%header#header
  .inner
    .container
      %h1 OctoStalker
      %p
        You can follow everyone that is following you.
        %br You can follow everyone from your organization.
      .profile
        - if current_user
          %img{src: current_user[:avatar], width: 165, height: 165, alt: current_user[:username]}
          %a.btn{:href => "/logout"} Logout
        -else
          %a.btn{:href => "/auth/github"} Signin with Github

%section#explain
  .inner
    .pata
    .container
      %h2 Be nice, and follow back who follows you
      .gitmark-big
      .follow
      .gitmark-big
    .container
      %h2 Follow everyone from your organization
      .gitmark-big
      .follow
      .orgusers
        - 12.times do
          %span

- if current_user
  %section#follow-everyone
