
%section#main
  .in
    %h2 Octo Follow
    %h3 What can I do in here?
    %p You can follow everyone that is following you.
    %p You can follow everyone from your organization.
    - if current_user
      %img{src: current_user[:avatar]}
    - else
      %a.button.anchor{:href => "/auth/github"} Signin

%section#friends
  .in
    %h2 Be nice, and follow back who follows you.
    .alert.alert-success.hidden
    .alert.alert-danger.hidden
      %strong Holy guacamole!
      An error has occurred
    %a.button-github.friends Follow friends back
    %span.waiting.hidden Waiting...

- if @organizations
  %section#organizations
    .in
      %h2 Organizations
      .alert.alert-success.hidden
      .alert.alert-danger.hidden
        %strong Holy guacamole!
        An error has occurred
      %span.waiting.hidden Waiting...
      .orgs
        - @organizations.each do |org|
          %a.button-github{data: {organization: org.login}}
            %img{src: "#{org.rels[:avatar].href}&s=440", width: 220, height: 220}
