%section#follow-everyone
  .inner
    %h2
      %span Friends
      %a.btn#followAllFriends Follow all friends back
    %ul#friends
      - @friends.each do |user|
        %li
          %a{data: {toogle: 'tooltip', user: user[:login]}}
            %img{src: user[:avatar], with: 100, height: 100 }
              %span{class: ("follow" if user[:follows])}
