%section#follow-everyone
  .inner
    %h2
      %span Friends
      %a.btn#followAllFriends Follow all friends back
    %ul#friends
      - @friends.each do |user|
        %li
          %a{data: {toogle: 'tooltip', user: user[:login]}}
            %img{src: user[:avatar], with: 100, height: 100 }
            %span{class: ("follow" if user[:follows])}
    .title
      %h2
        %span Search for organizations
        %form#orgForm
          %input#orgSearch{type:"text", placeholder:"Search organizations by name"}
          %input#orgSubmit{type:"submit", value: "Send"}
    #searchOrg.org
    %h2
      %span Your organizations
      - @organizations.each do |org|
        .org
          .org-avatar
            %img{src: org[:avatar], width: 240, height: 240}
          .members
            %h3
              %span Members of #{org[:login]}
              %a.btn.followorg{data: {org: org[:login]}} Follow everyone in #{org[:login]}
              %ul
                - org[:members].each do |user|
                  %li
                    %a{data: {toogle: 'tooltip', user: 'foo'}}
                      %img{src: "http://placehold.it/70x70", with: 70, height: 70 }
