.org
  .org-avatar
    %img{src: organization[:avatar], width: 240, height: 240}
  .members
    %h3
      %span Members of #{organization[:login]}
      - if organization[:size]
        %span.size (total of #{organization[:size]} members)
      %a.btn.followorg{data: {org: organization[:login]}} Follow everyone in #{organization[:login]}
      %ul
        - organization[:members].each do |user|
          %li
            %a{href: user[:url], target: '_blank', data: {toogle: 'tooltip', user: user[:login]}}
              %img{src: user[:avatar], with: 70, height: 70 }
