/* line 90, geral/*.png */
.geral-sprite, #forkit, .pata, .gitmark-big, #explain .follow, .orgusers span, #friends span.yes, #friends span.follow, #friends span.no {
  background: url('../images/geral-s9ce844ef65.png') no-repeat;
}

@font-face {
  font-family: 'Collegia';
  src: url("fonts/collegia-webfont.eot");
  src: url("fonts/collegia-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/collegia-webfont.woff") format("woff"), url("fonts/collegia-webfont.ttf") format("truetype"), url("fonts/collegia-webfont.svg#collegiateregular") format("svg");
  font-weight: normal;
  font-style: normal;
}

/*******************************************
				   Globais
*******************************************/
/* line 26, scss/style.scss */
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video, button, input, select, textarea {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

/* line 27, scss/style.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

/* line 28, scss/style.scss */
html {
  overflow-y: scroll;
}

/* line 29, scss/style.scss */
body {
  font: 13px/1.231 sans-serif;
  *font-size: small;
}

/* line 30, scss/style.scss */
body, select, input, textarea {
  color: #444;
}

/* line 32, scss/style.scss */
outline {
  border: none;
}

/* line 34, scss/style.scss */
abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

/* line 35, scss/style.scss */
label, input[type="button"], input[type="submit"], input[type="image"], button {
  cursor: pointer;
}

/* line 36, scss/style.scss */
input[type="radio"] {
  vertical-align: text-bottom;
}

/* line 37, scss/style.scss */
input[type="checkbox"] {
  vertical-align: bottom;
}

/* line 38, scss/style.scss */
.ie7 input[type="checkbox"] {
  vertical-align: baseline;
}

/* line 39, scss/style.scss */
.ie6 input {
  vertical-align: text-bottom;
}

/* line 40, scss/style.scss */
ol {
  list-style-type: decimal;
}

/* line 41, scss/style.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 42, scss/style.scss */
nav ul, nav li {
  list-style: none;
}

/* line 44, scss/style.scss */
blockquote, q {
  quotes: none;
}

/* line 45, scss/style.scss */
blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none;
}

/* line 46, scss/style.scss */
a {
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

/* line 48, scss/style.scss */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

/* line 49, scss/style.scss */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

/* line 50, scss/style.scss */
del {
  text-decoration: line-through;
}

/* line 51, scss/style.scss */
sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
}

/* line 52, scss/style.scss */
sup {
  top: -0.5em;
}

/* line 53, scss/style.scss */
sub {
  bottom: -0.25em;
}

/* line 54, scss/style.scss */
pre {
  padding: 15px;
  white-space: pre;
  white-space: pre-wrap;
  white-space: pre-line;
  word-wrap: break-word;
}

/* line 55, scss/style.scss */
strong {
  font-weight: bold;
}

/* line 56, scss/style.scss */
small {
  font-size: 85%;
}

/* line 58, scss/style.scss */
select, input, textarea, button {
  font: 99% sans-serif;
}

/* line 59, scss/style.scss */
input, select {
  vertical-align: middle;
}

/* line 60, scss/style.scss */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/* line 61, scss/style.scss */
pre, code, kbd, samp {
  font-family: monospace, sans-serif;
}

/* line 62, scss/style.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 63, scss/style.scss */
.ie7 img {
  -ms-interpolation-mode: bicubic;
}

/* line 64, scss/style.scss */
button {
  width: auto;
  overflow: visible;
}

/* line 65, scss/style.scss */
textarea {
  overflow: auto;
}

/* line 66, scss/style.scss */
.ie6 legend, .ie7 legend {
  margin-left: -7px;
}

/* line 68, scss/style.scss */
a:hover, a:active {
  outline: none;
}

/* line 69, scss/style.scss */
::-moz-selection {
  background: #000;
  color: #fff;
  text-shadow: none;
}

/* line 70, scss/style.scss */
::selection {
  background: #000;
  color: #fff;
  text-shadow: none;
}

/* line 71, scss/style.scss */
a:link {
  -webkit-tap-highlight-color: #444;
}

/* line 74, scss/style.scss */
input:invalid, textarea:invalid {
  border-radius: 1px;
  -moz-box-shadow: 0px 0px 5px red;
  -webkit-box-shadow: 0px 0px 5px red;
  box-shadow: 0px 0px 5px red;
}

/* line 75, scss/style.scss */
.no-boxshadow input:invalid, .no-boxshadow textarea:invalid {
  background-color: #f0dddd;
}

/* line 77, scss/style.scss */
html {
  height: 100%;
}

/* line 78, scss/style.scss */
body {
  min-width: 990px;
  font: normal 14px/21px "Trebuchet MS", Arial, sans-serif;
  height: 100%;
}

/* line 79, scss/style.scss */
.innner {
  width: 960px;
  padding: 0 15px;
  margin: 0 auto;
  position: relative;
}

/* line 81, scss/style.scss */
#wrapper {
  height: auto;
  min-height: 100%;
  position: relative;
  width: 100%;
}

/* line 82, scss/style.scss */
#content {
  height: 100%;
  padding-bottom: 65px;
}

/* line 83, scss/style.scss */
.clear {
  clear: both;
}

/* line 85, scss/style.scss */
#forkit {
  float: left;
  position: fixed;
  right: 0;
  top: 0;
  width: 149px;
  height: 149px;
  background-position: 0 -258px;
  text-indent: -9999em;
  z-index: 2;
}

/* line 86, scss/style.scss */
.btn {
  float: left;
  padding: 4px 25px;
  border: 1px solid #bebebe;
  background-color: #f8f8f8;
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FFF8F8F8', endColorstr='#FFEDEDED');
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #f8f8f8), color-stop(100%, #ededed));
  background-image: -webkit-linear-gradient(top, #f8f8f8 0%, #ededed 100%);
  background-image: -moz-linear-gradient(top, #f8f8f8 0%, #ededed 100%);
  background-image: -o-linear-gradient(top, #f8f8f8 0%, #ededed 100%);
  background-image: linear-gradient(top, #f8f8f8 0%, #ededed 100%);
  border-radius: 5px;
  color: #555;
  text-decoration: none;
  text-shadow: 0 1px 0 #fff;
  font: bold 14px/21px "Trebuchet MS", Arial, sans-serif;
}

/*******************************************
				   Header
*******************************************/
/* line 103, scss/style.scss */
.msg {
  float: left;
  width: 100%;
  border-bottom: 2px solid #BCE8F1;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #D9EDF7;
  color: #31708F;
  padding: 10px 0;
  z-index: 1;
  display: none;
}

/* line 104, scss/style.scss */
.msg.sucess {
  background-color: #DFF0D8;
  border-color: #D6E9C6;
  color: #3C763D;
}

/* line 105, scss/style.scss */
.msg.error {
  background-color: #F2DEDE;
  border-color: #EBCCD1;
  color: #A94442;
}

/* line 106, scss/style.scss */
.msg.loading {
  background-color: #FCF8E3;
  border-color: #FAEBCC;
  color: #8A6D3B;
}

/* line 107, scss/style.scss */
.msg.loading img {
  float: left;
  margin: 2px 5px 0 0;
}

/* line 109, scss/style.scss */
#header {
  float: left;
  width: 100%;
  height: 372px;
  background: white url("../images/bg-topo.png") no-repeat center top;
}

/* line 110, scss/style.scss */
#header .container {
  float: left;
  margin: 65px 0 0 0;
}

/* line 111, scss/style.scss */
h1 {
  float: left;
  width: 100%;
  text-transform: uppercase;
  font: normal 65px/65px Collegia, "Trebuchet MS", Arial, sans-serif;
  color: #000;
}

/* line 112, scss/style.scss */
#header p {
  float: left;
  width: 100%;
  font: normal 14px/21px "Trebuchet MS", Arial, sans-serif;
}

/* line 113, scss/style.scss */
.profile {
  float: left;
  margin-top: 20px;
}

/* line 114, scss/style.scss */
.profile img {
  float: left;
  border-radius: 5px;
}

/* line 115, scss/style.scss */
.profile img + a {
  margin: 133px 0 0 10px;
}

/*******************************************
				   Footer
*******************************************/
/* line 121, scss/style.scss */
#footer {
  float: left;
  width: 100%;
  background: #ededed;
  padding: 10px 0;
  position: absolute;
  bottom: 0;
  left: 0;
}

/* line 122, scss/style.scss */
#footer p {
  float: left;
  color: #555;
  font: normal 12px/18px "Trebuchet MS", Arial, sans-serif;
  margin: 0;
}

/* line 123, scss/style.scss */
#footer p + p {
  float: right;
}

/* line 124, scss/style.scss */
#footer a {
  color: #555;
  font-weight: bold;
  text-decoration: none;
}

/*******************************************
				   Main
*******************************************/
/* line 130, scss/style.scss */
#explain {
  float: left;
  width: 100%;
  background: #ededed;
  padding: 20px 0 30px 0;
}

/* line 131, scss/style.scss */
.pata {
  float: left;
  width: 52px;
  height: 69px;
  position: absolute;
  top: -20px;
  right: 80px;
  background-position: 0 0;
}

/* line 132, scss/style.scss */
.container {
  float: left;
  width: 50%;
}

/* line 133, scss/style.scss */
#explain h2 {
  float: left;
  width: 100%;
  color: #555;
  font: normal 18px/27px Collegia, "Trebuchet MS", Arial, sans-serif;
  text-transform: uppercase;
  margin-bottom: 30px;
}

/* line 134, scss/style.scss */
.gitmark-big {
  float: left;
  width: 120px;
  height: 120px;
  background-position: 0 -138px;
}

/* line 135, scss/style.scss */
#explain .follow {
  float: left;
  width: 80px;
  height: 69px;
  background-position: -64px -69px;
  margin: 25px 20px;
}

/* line 136, scss/style.scss */
.orgusers {
  float: left;
  width: 180px;
}

/* line 137, scss/style.scss */
.orgusers span {
  float: left;
  width: 32px;
  height: 32px;
  background-position: -32px -69px;
  margin: 5px;
}

/* line 139, scss/style.scss */
#follow-everyone {
  float: left;
  width: 100%;
}

/* line 140, scss/style.scss */
#follow-everyone h2 {
  float: left;
  width: 100%;
  margin: 30px 0 15px 0;
  color: #555;
  font: normal 36px/40px Collegia, "Trebuchet MS", Arial, sans-serif;
  text-transform: uppercase;
}

/* line 141, scss/style.scss */
#follow-everyone h2 span {
  float: left;
  margin-right: 20px;
}

/* line 142, scss/style.scss */
#follow-everyone h2 a {
  text-transform: none;
  margin-top: 3px;
}

/* line 144, scss/style.scss */
#friends {
  float: left;
  width: 100%;
  list-style: none;
}

/* line 145, scss/style.scss */
#friends li {
  float: left;
  width: 100px;
  height: 100px;
  margin: 10px 20px 10px 0;
  position: relative;
}

/* line 146, scss/style.scss */
#friends a {
  float: left;
  width: 100px;
  height: 100px;
  border-radius: 5px;
  overflow: hidden;
}

/* line 147, scss/style.scss */
#friends span {
  float: left;
  width: 16px;
  height: 16px;
  position: absolute;
  bottom: 7px;
  right: 7px;
}

/* line 148, scss/style.scss */
#friends span.yes, #friends span.follow {
  background-position: -16px -69px;
}

/* line 149, scss/style.scss */
#friends span.no {
  background-position: 0 -69px;
}

/* line 151, scss/style.scss */
.tooltip {
  position: absolute;
  z-index: 1030;
  display: block;
  visibility: visible;
  font-size: 12px;
  line-height: 1.4;
  opacity: 0;
  filter: alpha(opacity=0);
}

/* line 152, scss/style.scss */
.tooltip.in {
  opacity: 0.9;
  filter: alpha(opacity=90);
}

/* line 153, scss/style.scss */
.tooltip.bottom {
  margin-top: 3px;
  padding: 5px 0;
}

/* line 154, scss/style.scss */
.tooltip-inner {
  max-width: 200px;
  padding: 3px 8px;
  color: #ffffff;
  text-align: center;
  text-decoration: none;
  background-color: #000000;
  border-radius: 4px;
}

/* line 155, scss/style.scss */
.tooltip-arrow {
  position: absolute;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
}

/* line 156, scss/style.scss */
.tooltip.bottom .tooltip-arrow {
  top: 0;
  left: 50%;
  margin-left: -5px;
  border-width: 0 5px 5px;
  border-bottom-color: #000000;
}
