@charset "utf-8";

#forkit {
    float:left;
    position: fixed;
    right:0;
    top:0;
    width: 149px;
    height: 149px;
    background: asset-url('forkit.png') repeat left top;
    text-indent: -9999em;
    z-index:2;
}